body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/background.png') center/cover no-repeat;
}

.container {
    text-align: center;
    color: #fff;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#quote {
    font-size: 24px; /* Adjusted to be larger by default */
    line-height: 1.5;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    text-shadow: 3px 3px 0 rgb(57, 88, 55);
    position: relative;
    z-index: 10;
    padding: 20px;
}

#date-time {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20; /* To ensure it's above the quote */
}

.time, .date {
    font-weight: 600;
    color: #000;
    /* Adjusted gradient to include green */
    background: radial-gradient(
            circle at 100%,
            #b2a8fd, /* Light Blue */ #4CAF50 25%, /* Krishna Green */ #8678f9 50%, /* Blue */ #c7d2fe 75%, /* Light Purple */ #9a8dfd 100% /* Dark Purple */
    );
    background-size: 200% auto;
    /* Clip the background to the text and make the text color transparent */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Animate the background position to give the gradient a moving effect */
    animation: animatedTextGradient 2s linear infinite;
}

@keyframes animatedTextGradient {
    to {
        background-position: 200% center;
    }
}


.mayur-pankh {
    width: 100px;
    opacity: 0.7;
    animation: float 6s ease-in-out infinite;
    z-index: -1;
}

#reload, #music-toggle {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#reload {
    background-color: #007bff; /* Blue base color for the reload button */
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3); /* Soft shadow for depth */
}

#reload:hover, #reload:focus {
    background-color: #0056b3; /* Darker blue on hover for contrast */
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 6px 8px rgba(0, 123, 255, 0.5); /* More pronounced shadow on hover */
}

#music-toggle {
    background-color: #4CAF50; /* Green base color for the music toggle button */
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.3); /* Soft shadow for depth */
}

#music-toggle:hover, #music-toggle:focus {
    background-color: #45a049; /* Darker green on hover for contrast */
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 6px 8px rgba(76, 175, 80, 0.5); /* More pronounced shadow on hover */
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#saavn-link {
    display: block;
    margin-top: 10px;
    color: #1ED760;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

#saavn-link:hover {
    text-decoration: underline;
}

.buy-me-coffee {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
}

.buy-me-coffee img {
    width: 100px;
    transition: transform 0.3s ease;
}

.buy-me-coffee img:hover {
    transform: scale(1.3);
}

#made-possible-with {
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

#made-possible-with span {
    font-weight: bold;
}

@media (max-width: 767px) {
    .container {
        max-width: 95%;
    }

    #quote, #date-time {
        font-size: 18px;
    }

    .button-group button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .buy-me-coffee img {
        width: 80px;
    }

    #made-possible-with {
        bottom: 25px;
        font-size: 12px;
        left: 70%;
        transform: translateX(-50%);
        width: 222px;
    }
}

@media (max-width: 480px) {
    #quote {
        font-size: 16px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent; /* or any color you prefer */
    color: white; /* or any color that matches your design */
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

/* Additional styling for links and paragraphs within the footer if needed */
footer a {
    color: #add8e6; /* example color for links */
}

footer p {
    margin: 5px 0;
}
